Makefile
Makefile.in
aclocal.m4
compile
config.*
configure
debian
depcomp
.deps/
.libs/
*.o
*.lo
*.la
*.stamp
/docs/reference/html/
/docs/reference/libsignon-glib*
/docs/reference/tmpl/
/docs/reference/xml/
gtk-doc.make
install-sh
*.pc
/libsignon-glib/signon-marshal.c
/libsignon-glib/signon-marshal.h
libtool
ltmain.sh
missing
stamp-h1
*~
*.cache
patches/
